<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Mon cv Perso">
    <title>C.V - Contact</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <!-- les parties notéés "pf" sont ce qu'on appelle les parties fixe de la page -->
    <!-- en-tête (pf)-->
    <header>
        <h1>Klyd CHAUMET</h1>
    </header>

    <!-- Navigation (pf)-->
    <nav>
        <div class="table">
            <ul>
                <li class="menu-ind"><a href="index.html">Acceuil</a></li>
                <li class="menu-exp"><a href="exp.html">Experience professionnel</a></li>
                <li class="menu-loi"><a href="loisir.html">Loisir</a></li>
                <li class="menu-con"><a href="contact.html">contactez-moi !</a></li>
            </ul>
        </div>
    </nav>

    <article>
            <section id="cordo">
                <h2><i class="fas fa-phone"></i> - Telephone</h2>

                <h2><i class="fas fa-envelope"></i> - mail</h2>

                <h2><i class="fab fa-instagram"></i> - instagram</h2>

                <h2><i class="fab fa-facebook-square"></i> - facebook</h2>
            </section>
        </article>

    <!-- Pied de page (pf)-->
    <footer>
        <p>&copy; Klyd CHAUMET - 2018</p>
    </footer>
</body>
</html>