<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Mon cv Perso">
    <title>C.V - Acceuil</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <!-- les parties notéés "pf" sont ce qu'on appelle les parties fixe de la page -->
    <!-- en-tête (pf)-->
    <header>
        <h1>Klyd CHAUMET</h1>
    </header>

    <!-- Navigation (pf)-->
    <nav>
        <div class="table">
            <ul>
                <li class="menu-ind"><a href="index.html">Acceuil</a></li>
                <li class="menu-exp"><a href="exp.html">Experience professionnel</a></li>
                <li class="menu-loi"><a href="loisir.html">Loisir</a></li>
                <li class="menu-con"><a href="contact.html">contactez-moi !</a></li>
            </ul>
        </div>
    </nav>

    <article>
        <section id="presentation">
            <h1>Qui sui-je ?</h1>
            <div class="sec">
                <div class="gauche">
                    <img src="img/genome.jpg" alt="image">
                </div>

                <div class="droite">
                    <p>Je m'appelle Klyd Chaumet, j'ai 25 ans et je vis à Monfermeil, titulaire du Baccalaureat et d'un diplome niveau L2 en assistance technique d'ingenieur.
                        curieux, auodidacte et rigoureux je dispose d'un bagage soliden en informatique.
                        n'hesitez pas à parcourir mon site pour en apprendre d'avantage sur moi ou pour me contacter.
                    </p>
                </div>
            </div>
        </section>

        <section id="parcours">
            <h2>Parcours et éxperience</h2>
            <div class="sec">
                <div class="exp">
                    <div class="gauche">2014-en cours</div>
                    <div class="droite">
                        <h3>developpeur web</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate dignissimos
                            nostrum hic, doloremque facilis vitae sequi aspernatur, eius aperiam placeat obcaecati at
                            quos officia assumenda dolorem vel neque. Aut.</p>
                    </div>
                </div>
                <div class="exp">
                    <div class="gauche"> 2010 - 2014</div>
                    <div class="droite">
                        <h3>standiste</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam exercitationem error
                            laboriosam harum dolorem! Delectus, neque! Earum iusto autem dolorum! Optio voluptatem quae
                            commodi sapiente dolore possimus. Sint, accusantium nihil!</p>
                    </div>
                </div>
                <div class="exp">
                    <div class="gauche"> 2008 - 2010</div>
                    <div class="droite">
                        <h3>mecanicien</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam exercitationem error
                            laboriosam harum
                            dolorem! Delectus, neque! Earum iusto autem dolorum! Optio voluptatem quae commodi sapiente
                            dolore
                            possimus. Sint, accusantium nihil!</p>
                    </div>
                </div>
                <div class="exp">
                    <div class="gauche"> 2004 - 2008</div>
                    <div class="droite">
                        <h3>college omeba tobo></h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam exercitationem error
                            laboriosam harum
                            dolorem! Delectus, neque! Earum iusto autem dolorum! Optio voluptatem quae commodi sapiente
                            dolore
                            possimus. Sint, accusantium nihil!</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="competences">
            <h1>Compétences & niveau</h1>

            <div class="sec">
                <div class="cgauche">
                    <div class="sous">
                        <div class="sousgauche">competence</div>
                        <div class="sousdroite">niveau</div>
                    </div>
                    <div class="sous">
                        <div class="sousgauche">HTML/CSS</div>
                        <div class="sousdroite">Expert</div>
                    </div>
                    <div class="sous">
                        <div class="sousgauche">JavaScrip</div>
                        <div class="sousdroite">Expert</div>
                    </div>
                </div>
                <div class="cdroite">
                    <div class="sous">
                        <div class="sousgauche">Competence</div>
                        <div class="sousdroite">Niveau</div>
                    </div>
                    <div class="sous">
                        <div class="sousgauche">PHP</div>
                        <div class="sousdroite">AVANCE</div>
                    </div>
                    <div class="sous">
                        <div class="sousgauche">SQL/MySql</div>
                        <div class="sousdroite">AVANCE</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="recommandation">
            <h1>Recommandation</h1>
            <div class="sec">
                <div class="reco">
                    <h2>Wordpress</h2>

                    <div class="gauche">
                        <a href="https://la-webeuse.com/guide-wordpress-pdf/" target="_blank">
                            <img src="img/WP.png" alt="">
                        </a>
                    </div>

                    <div class="droit">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit recusandae dolorum repudiandae ut vel laborum ipsam facilis quam fuga natus. Vero molestias quibusdam voluptatibus nulla, atque harum quisquam? Sint, quibusdam.</p>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- Pied de page (pf)-->
    <footer>
        <p>&copy; Klyd CHAUMET - 2018</p>
    </footer>
</body>
</html>