<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Mon cv Perso">
    <title>C.V - Loisir</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <!-- les parties notéés "pf" sont ce qu'on appelle les parties fixe de la page -->
    <!-- en-tête (pf)-->
    <header>
        <h1>Klyd CHAUMET</h1>
    </header>

    <!-- Navigation (pf)-->
    <nav>
        <div class="table">
            <ul>
                <li class="menu-ind"><a href="index.html">Acceuil</a></li>
                <li class="menu-exp"><a href="exp.html">Experience professionnel</a></li>
                <li class="menu-loi"><a href="loisir.html">Loisir</a></li>
                <li class="menu-con"><a href="contact.html">contactez-moi !</a></li>
            </ul>
        </div>
    </nav>

    <article>
        <section id="auto">
            <h2>L'automobile</h2>

            <div class="sec">
                <div class="gauche">
                    <img src="img/voiture.jpg" alt="voiture">
                </div>

                <div class="droite">
                    <h3>voiture de collection</h3>

                    <p>Les voitures de collection pour leur beautée dans la conception, dans le savoir faire</p>

                    <h3>Les salons de l'automobile</h3>

                    <p>voir les innovations mecaniques et de design avec le savoir faire ancien</p>
                </div>
            </div>
        </section>

        <section id="sport">
            <h2>Le sport</h2>

            <div class="sec">
                <div class="gauche">
                    <h3>Handball</h3>
                    <p>le jeu d'équipe qui apprend a savoir reussir et échouer en équipe sur projet de reussite commun</p>

                    <h3>Le Golf</h3>
                    
                </div>
                <div class="droite">
                    <img src="img/sport.jpg" alt="sport">
                </div>
            </div>
        </section>

        <section id="chien">
            <h2>Les animaux</h2>

            <div class="sec">

                <div class="gauche">
                    <img src="img/chien.jfif" alt="chien">
                </div>
                <div class="droite">
                    <h3>les chiens</h3>
                    <p>pour en avoir deux les animaux nous detache beaucoup de tout contraintres et nous apaise</p>
                </div>
            </div>
        </section>
    </article>
    <!-- Pied de page (pf)-->
    <footer>
        <p>&copy; Klyd CHAUMET - 2018</p>
    </footer>
</body>
</html>