<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klyd Chaumet Eval</title>
    <link rel="stylesheet" href="css/controle.css">
</head>
<body>
    <header>
        <div class="border"></div>
        <nav class="Y">
            <img src="img/logo.png" alt="logo">
            <br>
            <p>Lorem ipsum, dolor <span>sit amet</span></p>
        </nav><!-- fin de la nav -->
        <nav class="T">
           <ul class="Z">
                <li class="A">
                    <img src="img/icon-mon-compte.png" alt="compte">
                    <a href="#COMPTE">Mon compte</a>
                </li>
                <li class="A">
                    <img src="img/icon-mon-panier.png" alt="Panier">
                    <a href="#">Mon panier</a>
                </li>
           </ul>
            
        </nav><!-- fin de la nav -->
        <nav class="D">
           <ul class="E">
                <li class="B">
                    <a href="#COMPTE">Contactez-nous</a>
                </li>
                <li class="B">
                    <a href="#">Parrainage</a>
                </li>
                <li class="B">
                    <a href="#">Déconnexion</a>
                </li>
           </ul>
        </nav><!-- fin de la nav -->
    </header><!-- fin du header -->

    <main><!-- contenue principal-->
        <section>
            <img class="img" src="img/header-page-catalogue.png" alt="header-page-catalogue">
        </section><!-- fin de la section -->

        <!-- ============================
        tout les élèment mis en commentaire sont ainsi car je n'ai pu finir de les position comme dans la maquette
    ===================================== -->
        <div class="container">
                <div class="gauche">
                    <div>
                        <img class="G" src="img/gant-boxe-1.png" alt="Boxe 1">
                        <p class="H"><strong>NTS DE BOXE COMBAT KLIMAX v3</strong></p>
                        <!-- <button class="H" type="submit">Voir la vente</button>
                        <p class="H" id="K"><span class="ma_classe">120 $</span> <span>65 $</span></p> -->
                    </div>
                    <div>
                        <img class="U" src="img/gant-boxe-2.png" alt="Boxe 2">
                        <p class="F"><strong>NTS DE BOXE COMBAT KLIMAX v3</strong></p>
                        <!-- <button class="F" type="submit">Voir la vente</button>
                        <p class="F" id="K"><span class="ma_classe">120 $</span> <span>65 $</span></p> -->
                    </div>
                </div><!-- fin de la div gauche-->
                <div class="droite">
                    <div>
                        <img class="G" src="img/gant-boxe-1.png" alt="Boxe 1">
                        <p class="H"><strong>NTS DE BOXE COMBAT KLIMAX v3</strong></p>
                        <!-- <button class="H" type="submit">Voir la vente</button>
                        <p class="H" id="K"><span class="ma_classe">120 $</span> <span>65 $</span></p> -->
                    </div>
                    <div>
                        <img class="U" src="img/gant-boxe-2.png" alt="Boxe 2">
                        <p class="F"><strong>NTS DE BOXE COMBAT KLIMAX v3</strong></p>
                        <!-- <button class="F" type="submit">Voir la vente</button>
                        <p class="F" id="K"><span class="ma_classe">120 $</span> <span>65 $</span></p> -->
                    </div>
                </div><!-- fin de la div Droite-->
            </div><!-- fin de la div container-->
    </main><!-- fin du main -->

    <section class="menu_footer">
    </section>

    <footer>
    </footer>
</body>
</html>